# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database files
instance/
*.db
*.sqlite
*.sqlite3

# Migrations cache
migrations/__pycache__/

# Mac files
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Testing
.pytest_cache/

# Build files
build/
dist/
*.egg-info/