{% extends "layouts/base.html" %}


{% block title %}

Customer Portal

{% endblock %}



{% block content %}


<div class="container">


    <div class="card shadow-sm">

        <div class="card-body text-center">


            <h2 class="fw-bold">

                Customer Portal

            </h2>


            <p class="text-muted">

                Search customers and view their chit fund details.

            </p>


            <button class="btn btn-primary">

                Search Customer

            </button>


        </div>


    </div>


</div>


{% endblock %}