{% extends "layouts/base.html" %}


{% block title %}
Edit Group
{% endblock %}



{% block content %}


<div class="d-flex justify-content-between align-items-center mb-4">


<h2 class="fw-bold">
Edit Group
</h2>


<a href="{{ url_for('groups.list_groups') }}"
class="btn btn-secondary">

Back

</a>


</div>




<div class="erp-card p-4">



<form method="POST">


<div class="mb-3">


<label class="form-label">

Group Name

</label>



<input
type="text"
name="name"
class="form-control"
value="{{ group.name }}"
required
>


</div>




<div class="alert alert-warning">

<strong>Important:</strong>

Only group name can be changed.

<br>

Amount, duration, installment, start date and memberships cannot be edited.

</div>



<button class="btn btn-primary">

Save Changes

</button>



<a href="{{ url_for('groups.list_groups') }}"
class="btn btn-secondary">

Cancel

</a>


</form>


</div>


{% endblock %}